@tailwind base;
@tailwind components;
@tailwind utilities;

.appear {
    animation: appear 1s ease;
}
.translate-up {
    animation: translate-up 1s ease;
}

.appear-up {
    animation: appear-up 1s ease;
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes appear-up {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    50% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes translate-up{
    0% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}